# TODO: add versions.
# TODO: remove stuff which is probably not needed
#black
#mypy
#flake8
#requests
pytest==6.0.2
pytest-watch==4.2.0
pytest-asyncio==0.14.0
python-magic==0.4.18
#pytest-cov
#isort
#autoflake