# TODO: add versions.
# TODO: remove stuff which is probably not needed
fastapi
uvicorn
brother_ql==0.9.3
cairosvg
requests
Pillow==7.2.0
#str2bool==1.1
#sqlalchemy
#async-exit-stack
#async-generator
#passlib[bcrypt]
#python-jose[cryptography]
#python-multipart
#python-dotenv