# TODO: add versions.
# TODO: remove stuff which is probably not needed
fastapi
uvicorn==0.12.0
pyyaml # at least needed by uvicorn --log-config *.yaml
brother_ql==0.9.3
cairosvg
requests
Pillow==7.2.0
ruamel.yaml==0.16.12
#str2bool==1.1
#sqlalchemy
#async-exit-stack
#async-generator
#passlib[bcrypt]
#python-jose[cryptography]
#python-multipart
#python-dotenv